:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: #000; /* força o fundo preto */
  background: #000 !important;
  color: #fff;
}

ion-header {
  --background: #000; /* remove a barra cinza */
  background: #000 !important;
  padding-top: 20px; /* espaço para a barra de notificação */
  
  ion-toolbar {
    --background: #000;
    --color: #fff;
    
    ion-back-button {
      --color: #fff;
    }
  }
}

.login-container {
  text-align: center;
  color: white;
  padding-top: 60px;
  
  h2 {
    margin-top: 40px;
    font-size: 1.2em;
  }
  
  p {
    margin: 10px 0 20px;
    font-size: 0.9em;
  }
  
  .forgot-password {
    margin-top: 10px;
    font-size: 0.85em;
    
    a {
      color: #8ab4f8;
      text-decoration: none;
    }
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    
    hr {
      flex: 1;
      border: none;
      border-top: 1px solid #999;
    }
    
    span {
      margin: 0 10px;
      color: #999;
      font-size: 0.85em;
    }
  }
  
  .termos {
    font-size: 0.7em;
    color: #ccc;
    margin-top: 25px;
    
    a {
      color: #8ab4f8;
      text-decoration: none;
    }
  }
}

ion-input {
  --background: #fff;
  --color: #000;
  --placeholder-color: #666;
  border-radius: 8px;
  padding: 12px;
}

ion-button {
  --background: #007bff; /* azul */
  --color: #fff; /* texto branco */
  border-radius: 20px;
  font-weight: bold;
}