<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="login-container">
    <h2><strong>Acesse sua conta</strong></h2>
    <p>Digite seu e-mail para entrar neste aplicativo</p>

    <ion-input type="email" placeholder="Email@" fill="outline" [(ngModel)]="email"></ion-input>
    <ion-input type="password" placeholder="Senha" fill="outline" class="ion-margin-top" [(ngModel)]="senha"></ion-input>

    <ion-button expand="block" shape="round" class="ion-margin-top" (click)="fazerLogin()">Continue</ion-button>

    <div class="forgot-password">
      <a href="javascript:void(0)">Esqueci minha senha</a>
    </div>

    <div class="divider">
      <hr /><span>ou</span><hr />
    </div>

    <ion-button expand="block" shape="round" color="light" (click)="loginComGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Continue com Google
    </ion-button>

    <ion-button expand="block" shape="round" color="light" class="ion-margin-top" (click)="loginComApple()">
      <ion-icon slot="start" name="logo-apple"></ion-icon>
      Continue com Apple
    </ion-button>

    <p class="termos">
      Ao clicar em continuar, você concorda com nossos
      <a href="javascript:void(0)">Termos de Serviço</a> e 
      <a href="javascript:void(0)">Política de Privacidade</a>
    </p>
  </div>
</ion-content>