<ion-content class="home-content" fullscreen>
  <div class="overlay">
    <div class="logo-container">
      <img src="assets\img\popcorn.png" alt="Logo Re-Cine" class="logo" />
      <h1 class="app-title">Re–Cine</h1>
    </div>

    <p class="subtitle">Filmes que marcam.<br />Histórias que ficam.</p>

    <ion-button expand="block" shape="round" color="light" routerLink="/login">
      Tenho Cadastro
    </ion-button>

    <ion-button expand="block" shape="round" fill="outline" color="light" routerLink="/cadastro">
      Não tenho Cadastro
    </ion-button>
  </div>
</ion-content>
